<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>PyViz</title>
</head>

<body>

    <div class="start-right">
        <h1 class="text-in-index">Visualize Trees, Algorithms, Data Structures, Classes, and More.</h1>
    </div>

    <div class="start-left">
        <h1 class="title">PyViz</h1>
        <form method="post">
            <div class="border-login">
                <h1 style="color: #fff;">Get Started</h1>
                <a href="/show-login" class="buttons-bottom">Log in</a>
                <a href="/show-reg" class="buttons-bottom">Sign up</a>
            </div>
            </form>
        <footer class="footer"><b>Copyright &#169; Visual Panaroma</b></footer>
    </div>

</body>

</html>